#boxContainer {
    width:80%;
    margin:0 auto;
    text-align:center;
}

.box {
    display:inline-block;
    width:35%;
    margin:20px;
    border:solid 5px;
    border-radius:20px;
    vertical-align: top;
}

.card {
    display:inline-block;
    vertical-align: top;
    width: 150px;
    height: 225px;
    margin: 10px;
    border:solid 7px;
    border-radius:15px;
}

.cardtext {
    margin-left: 20px;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 40px;
}

#turnedcard {
    background-color: rgb(48, 46, 46)
}

button {
    background-color: rgb(196, 35, 35); 
    border:solid 5px;
    border-color: black;
    border-radius:60px;
    color: white;
    padding: 50px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
  }

